{% extends "bucket_list/base.html" %}
{% block content %}

<h2>Bucket-List</h2>

<form method="POST" action="{% url 'tasks' %}">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" class="btn btn-outline-success" value="Add To Bucket" style="margin-left: 6%;" name="Create Task">
</form>

<br/>
<br/>


<h4><u>Incomplete Tasks</u></h4>
<br/>
<br/>

{% for task in tasks %}

    <div>
        {% if task.complete == False %}
            <span>{{task}}</span>
            <a type="button" class="btn btn-outline-info" style="border-radius: 5%; margin-left: 5%;" href="{% url 'update' task.id %}">Update</a>
            <a type="button" class="btn btn-outline-danger" style="border-radius: 5%; margin-left: 5%;" href="{% url 'delete' task.id %}">Delete</a>
            <hr/>
            <br/>
            <br/>
        {% endif %}
    </div>

{% endfor %}


<br/>
<br/>
<h4><u>Completed Tasks</u></h4>
<br/>
<br/>
{% for task in tasks %}

    <div>
        {% if task.complete == True %}
            <strike>{{task}}</strike>
            <a type="button" class="btn btn-outline-info" style="border-radius: 5%; margin-left: 5%;" href="{% url 'update' task.id %}">Update</a>
            <a type="button" class="btn btn-outline-danger" style="border-radius: 5%; margin-left: 5%;" href="{% url 'delete' task.id %}">Delete</a>
            <hr/>
            <br/>
            <br/>
        {% endif %}
    </div>

    
{% endfor %}

{% endblock content %}