{% extends "bucket_list/base.html" %}
{% block content %}


<div class="text-center">
    <h1 class="font-weight-bold" style="font-size: 50px;">Bucket-List</h1>
    <br/>
    <legend>An Easy Way To Track Your Goals and Dreams.</legend>
    <hr/>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="text-left">
    <h1 class="font-weight-bold" style="font-size: 32px;">How To Use</h1>
    <br/>
    <p style="font-size: 22px;">You can add your tasks and goals to your bucket by simply writing it into the section provided at your homepage.</p>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="text-left">
    <h1 class="font-weight-bold" style="font-size: 32px;">Features</h1>
    <br/>
    <ul>

        <li style="font-size: 22px;">You can add your tasks and goals to your bucket by simply writing it into the section provided at your homepage.</li>
        <li style="font-size: 22px;">You can update your tasks by clicking on update button and change or update your goal and also mark it as completed and incomplete.</li>
        <li style="font-size: 22px;">You can delete the tasks which you don't like or added them to the bucket accidently.</li>
        <li style="font-size: 22px;">You can add a category to your task and filter them accordingly to ease your experience of finding the tasks.</li>

    </ul>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



{% endblock content %}